{% extends 'basic.html' %}

{% block content %}
{% if user.is_authenticated %}
Hey {{request.user}}  --- <a href="logout">Logout</a><br>
<a href="http://127.0.0.1:8000/create">Create</a><br> 
<a href="http://127.0.0.1:8000/read">Read</a><br>
<a href="http://127.0.0.1:8000/update">Update</a><br>
<a href="http://127.0.0.1:8000/delete">Delete</a><br>
<!-- below code is for users who successfully logged in, the code(message) is present in login_view in views.py-->
{%	for message in messages %}
	{{message}} 
{% endfor %}

{% endif %}
{% endblock %}

